In [1]:
import os
os.chdir('..')

In [3]:
from cybersec_pkg.cybersec_pkg.FlatData import *
from cybersec_pkg.cybersec_pkg.TransformData import *

In [6]:
# 1. read datas
data_path = '/Users/patrycjapiechowicz/Downloads/sample_data_6k (1).jsonl'
data = read_data(data_path, limiter=100)

In [7]:
# 2. iterate over dataset
flatten_dataset = []
for sample in data:
    # version 1 dummy way
    # flat = flatten_json(sample)
    # flatten_dataset.append(flat)
    # collect transformed values for each sample

    # version 2
    transformed = {}

    transformed.update(get_simple_column(sample))
    transformed.update(get_simple_list_from_column(sample))
    transformed.update(get_features_from_dict_column(sample, columns = "strings"))
    transformed.update(get_features_from_dict_column(sample, columns = "general"))
    transformed.update(get_features_from_dict_column(sample, columns = "imports"))
    transformed.update(get_features_from_header(sample))
    transformed.update(get_features_from_section(sample))
    transformed.update(get_features_from_datadirectories(sample))


    # here we fill with transform data
    flatten_dataset.append(transformed)

In [8]:
df_flat = pd.DataFrame(flatten_dataset)

In [15]:
df_flat.columns[df_flat.columns.str.startswith('general')]

Index(['general_size', 'general_vsize', 'general_has_debug', 'general_exports',
       'general_imports', 'general_has_relocations', 'general_has_resources',
       'general_has_signature', 'general_has_tls', 'general_symbols'],
      dtype='object')

In [23]:
df_general

0     3101705
1      504320
2      180224
3     2377730
4     1153808
       ...
95    1517385
96     196608
97      80848
98     438272
99      77824
Name: general_size, Length: 100, dtype: int64

In [31]:
transform_general(df_flat)

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,general_size,general_vsize,general_has_debug,general_has_relocations,general_has_resources,general_has_signature,general_has_tls
0,3101705,380928,0,0,1,0,0
1,504320,524288,1,0,1,0,0
2,180224,180224,1,1,1,0,0
3,2377730,77824,0,0,1,0,1
4,1153808,1167360,1,0,1,0,0
...,...,...,...,...,...,...,...
95,1517385,98304,0,0,1,0,1
96,196608,196608,0,0,1,0,0
97,80848,80576,1,1,1,0,0
98,438272,454656,1,0,1,0,0
99,77824,81920,1,1,1,0,0

In [30]:
def transform_general(df_flat):
    """
    Function transform column general and strings
    Inputs:
        df_flat: flatten data frame
    output:
        df_cleaned: reduced dataset
    """
    # filter columns general related
    df_general = df_flat[['general_size','general_vsize','general_has_debug','general_exports','general_imports','general_has_relocations','general_has_resources','general_has_signature','general_has_tls','general_symbols']]
    
     # drop columns with exports,imports,symbols
    df_general.drop('general_exports', axis=1, inplace=True)
    df_general.drop('general_imports', axis=1, inplace=True)
    df_general.drop('general_symbols', axis=1, inplace=True)
    return df_general

In [36]:
df_flat.columns[df_flat.columns.str.startswith('strings')]

Index(['strings_printabledist-0', 'strings_printabledist-1',
       'strings_printabledist-2', 'strings_printabledist-3',
       'strings_printabledist-4', 'strings_printabledist-5',
       'strings_printabledist-6', 'strings_printabledist-7',
       'strings_printabledist-8', 'strings_printabledist-9',
       ...
       'strings_printabledist-94', 'strings_printabledist-95',
       'strings_numstrings', 'strings_avlength', 'strings_printables',
       'strings_entropy', 'strings_paths', 'strings_urls', 'strings_registry',
       'strings_MZ'],
      dtype='object', length=104)

In [45]:
def transform_strings(df_flat):
    """
    Function transform column general and strings
    Inputs:
        df_flat: flatten data frame
    output:
        df_cleaned: reduced dataset
    """
    # filter columns strings related
    df_strings = df_flat[df_flat.columns[df_flat.columns.str.startswith('strings_')]].copy()
    # drop columns with exports,imports,symbols
    df_strings.drop('strings_avlength', axis=1, inplace=True)
    df_strings.drop('strings_paths', axis=1, inplace=True)
    df_strings.drop('strings_urls', axis=1, inplace=True)
    df_strings.drop('strings_registry', axis=1, inplace=True)

    return df_strings

In [46]:
transform_strings(df_flat)

,strings_printabledist-0,strings_printabledist-1,strings_printabledist-2,strings_printabledist-3,strings_printabledist-4,strings_printabledist-5,strings_printabledist-6,strings_printabledist-7,strings_printabledist-8,strings_printabledist-9,...,strings_printabledist-90,strings_printabledist-91,strings_printabledist-92,strings_printabledist-93,strings_printabledist-94,strings_printabledist-95,strings_numstrings,strings_printables,strings_entropy,strings_MZ
0,1046,817,877,803,738,909,831,842,871,763,...,853,802,836,845,804,900,14573,87031,6.569898,51
1,231,31,81,57,72,75,51,45,65,51,...,73,37,44,38,42,36,1803,20178,5.797295,3
2,51,22,64,15,32,16,12,31,33,12,...,20,65,50,16,14,234,1238,14881,5.744186,1
3,927,609,688,628,693,623,610,639,606,594,...,630,667,635,639,653,642,11166,64851,6.578020,41
4,323,332,311,307,304,364,286,296,291,314,...,289,336,307,281,288,318,5547,33523,6.561550,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,692,337,411,379,480,362,386,350,425,391,...,460,430,446,469,464,480,7005,42141,6.564218,36
96,173,2,0,20,1,0,2,2,2,1,...,15,1,4,18,4,1,886,11165,5.264652,1
97,41,7,7,13,20,4,5,4,14,8,...,33,5,24,4,11,6,356,3919,6.091115,1
98,444,11,42,12,115,130,13,53,46,13,...,23,8,32,6,34,21,1726,21894,5.701523,3
99,401,8,14,11,17,10,6,32,15,7,...,39,11,13,9,8,11,614,8208,5.849061,1